@media screen and (min-width: 1200px) {
  .advantages {
  }
  .container {
    width: 1164px;
    /* outline: 2px solid red; */
  }
  .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
  }
  .list-element {
    width: 264px;
  }
  .list-text {
    font-weight: 400;
    margin-bottom: 0;
  }
  .list-element::before {
    display: block;
    content: "";
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
  }
  /* ========== HERO ========== */
  .hero {
    background-image: var(--gradient), url(../images/office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gradient), url("../images/office@2x.jpg");
    }
  }

  /* ========== /HERO ========== */
  .icon-antenna::before {
    background-image: url("../images/antenna.svg");
  }
  .icon-clock::before {
    background-image: url("../images/clock.svg");
  }
  .icon-diagram::before {
    background-image: url("../images/diagram.svg");
  }
  .icon-astronaut::before {
    background-image: url("../images/astronaut.svg");
  }
  .team .container {
    width: 1164px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .contact-menu {
    display: flex;
    gap: 40px;
    line-height: 1.5em;
  }
  .menu-item {
    padding-top: 24px;
    padding-bottom: 28px;
  }
  .services {
    display: block;
  }
  /* FOOTER */
  .footer .container {
    display: flex;
  }
  .footer-block-logo {
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-media {
    margin-left: 120px;
  }
  .footer-form {
    margin-left: 80px;
  }
  .btn-wrap {
    display: flex;
  }
  .email-input {
    margin: 0;
  }

  /* / FOOTER */
}
